<section id="weather">
    <h1 class="smallScreen">New York, United States</h1>
    <div class="weather__info">
        <div class="weather__info--details">
            <div>
                <app-weatherDate></app-weatherDate>
            </div>
            <div>
                <app-weatherData></app-weatherData>
            </div>
        </div>
        
        <div class="weather__info--temp">
            <app-WeatherTemperature></app-WeatherTemperature>
        </div>
    </div>
</section>